*{
    background-color: azure;
}
input{
    /* border: none; */
    /* width: 100%; */
  padding: 10px 20px;
  margin: 7;
  box-sizing: border-box;

}
#ytt{
    display: grid;
    justify-content: center;
}
#inp{
    display: flex;
    justify-content: center;
}
a{
    text-decoration: none;
    /* target:"_blank"; */
    color: black;
}
#con{
    display: flex;
    margin-bottom: 20px;
}