*{
    background-color: azure;
}
input{
    /* border: none; */
}
#ytt{
    display: grid;
    justify-content: center;
}
#inp{
    display: flex;
    justify-content: center;
}
a{
    text-decoration: none;
    /* target:"_blank"; */
    color: black;
}
#con{
    display: flex;
    margin-bottom: 20px;
}